<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/static/script/test.js}"></script>
</head>
<body>
<div>
    用户姓名：<input th:id="${user.username}"
                th:name="${user.username}"
                th:value="${user.username}"> <br>
    用户年龄：<input th:value="${user.age}"> <br>
    用户生日：<input th:value="${user.birthday}"> <br>
    用户生日：<input th:value="${#dates.format(user.birthday, 'yyyy/MM/dd hh:mm:ss')}"> <br>
</div>
<hr>
<div th:object="${user}">
    用户姓名：<input th:id="*{username}"
                th:name="*{username}"
                th:value="*{username}"> <br>
    用户年龄：<input th:value="*{age}"> <br>
    用户生日：<input th:value="*{birthday}"> <br>
    用户生日：<input th:value="*{#dates.format(birthday, 'yyyy/MM/dd hh:mm:ss')}"> <br>
</div>

<hr>

<div>
    text: <span th:text="${user.desc}"></span> <br>
    utext: <span th:utext="${user.desc}"></span> <br>
    <a th:href="@{http://www.baidu.com}">超链接</a>
</div>

<hr>

<form th:action="@{/th/postform}" th:object="${user}" method="post">
    <input type="text" th:field="*{username}">
    <input type="submit">
</form>

<hr>
<div th:if="${user.age} == 18">十八岁的天空</div>
<div th:if="${user.age} gt 18"> 大于18</div>
<div th:if="${user.age} lt 18"> 小于18</div>
<div th:if="${user.age} ge 18"> 大于等于18</div>
<div th:if="${user.age} le 18"> 小于等于18</div>

<hr>

<select>
    <option th:selected="${user.username eq 'Lee'}">Lee</option>
    <option th:selected="${user.username eq 'Jack'}">Jack</option>
    <option th:selected="${user.username eq 'Anderson'}">Anderson</option>
</select>

<hr>

<table border="1">
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>生日</th>
    </tr>

    <tr th:each="person:${userList}">
        <td th:text="${person.username}"></td>
        <td th:text="${person.age}"></td>
        <td th:text="${#dates.format(person.birthday, 'yyyy/MM/dd hh:mm:ss')}"></td>
    </tr>

</table>

<br>

<ul th:switch="${user.username}">
    <li th:case="Lee">超级管理员</li>
    <li th:case="Zhang">管理员</li>
    <li th:case="Wang">实习生</li>
    <li th:case="*">其他</li>
</ul>


</body>
</html>